annotated-types==0.6.0
boto3==1.34.49
boto3-stubs==1.34.49
botocore==1.34.49
botocore-stubs==1.34.49
colorama==0.4.6
iniconfig==2.0.0
jmespath==1.0.1
mypy==1.8.0
mypy-boto3-ec2==1.34.30
mypy-extensions==1.0.0
packaging==23.2
pluggy==1.4.0
pydantic==2.6.2
pydantic_core==2.16.3
pytest==8.0.1
python-dateutil==2.8.2
PyYAML==6.0.1
ruff==0.2.2
s3transfer==0.10.0
six==1.16.0
types-awscrt==0.20.4
types-PyYAML==6.0.12.12
types-s3transfer==0.10.0
typing_extensions==4.9.0
urllib3==2.0.7
